:root {
    --viewport: 100%;
}
.client-tabview {
    max-width: var(--viewport) !important;
    margin-left: 3rem !important;
    margin-right: auto !important;
    margin-bottom: 2rem !important;
}
.form-group label{
    padding: 5px;
    border-bottom: 1px black solid !important;
}
.button-group button {
    color: black !important;
    background-color: white !important;
    border: 1px solid #000;
}
.prod-table {
    margin: auto;
    background-color: #a9a5a5 !important;
    border-collapse: collapse !important;
}
.ui-datatable tr {
    background-color: #f0f0f0 !important;
}
.ui-datatable thead th {
    background-color: #f0f0f0;
    border-bottom: 2px solid black !important;
    padding: 8px !important;
    text-align: left !important;
}
.table-products td {
    padding: 8px;
}
.order-summary-start {
    display: flex;
    gap: 2rem;
}

.prod-col-product {
    width: 50%;
}

.prod-col-other {
    width: 16.6%;
}


.ui-state.active {
    color: #99cc99 !important;
    border-color: #f0f0f0 !important;
}
.ui-state-active {
    background-color: #a9a5a5 !important;
    border-color: #a9a5a5 !important;
}

.client-tabview .ui-tabs-panels {
    border: 3px solid #ccc !important;
    /*padding: 2rem !important;*/
    /*margin: 10px;*/
}

.orders-summary {
    display: flex;
    justify-content: space-between;
}
.date-range-inputs {
    max-width: 300px;
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.date-range-inputs input {
    max-width: 150px !important;
    width: 100% !important;
}
.ui-state-active a {
    color: black !important;

}
.ui-datatable tbody.ui-datatable-data {
    outline: 0;
}
.form-group {
    display: grid;
    gap: 1rem;
    grid-template-columns: 150px 1fr;
    align-items: center;
    margin: 1rem 0 1rem 5%;
    max-width: var(--viewport);
}
.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    max-width: 465px;
}
input,
select:hover, select{
    border-color: #000 !important;
    /* border-color: #2196f3; */
}
textarea {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
}
.buttons-align-right {
}
/* PrimeFaces date picker e select menu */
 .ui-inputfield {
    border: 1px solid #000 !important;
    background: transparent !important;
    box-shadow: none !important;
}

    .form-group input,
    .form-group select,
    .form-group .ui-inputfield,
    .form-group .ui-selectonemenu,
    .form-group .ui-datepicker {
        max-width: 300px;
        width: 100%;
    }


